<script>
if(!!window.performance && window.performance.navigation.type === 2)
{
    console.log('Reloading');
    window.location.reload();
}
</script>
<div class='container'>
  {{#each cards}}
    <div class='card'>
      <div class='header'>
        {{#if manaCost}}
          <p class='mana-cost'>{{manaCost}}</p>
        {{/if}}
    </div>
      <div class="namebox">
        <p class='name sizeable'>{{name}}</p>
      </div>
      <div class="typebox">
        <p class='type sizeable'>{{type}}</p>
      </div>
      <div class='textbox'>
        <p class='text sizeable'>{{text}}</p>
      </div>
      <div class="footerbox">
        {{#if power}}
          <p class='pt'>{{power}}/{{toughness}}</p>
        {{/if}}
        {{#if loyalty}}
          <p class='loyality'>{{loyalty}}</p>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
<script src='/javascripts/font.js'></script>
