<div class='container'>
  {{#each cards}}
    <div class='card'>
      <div class='header'>
        {{#if land}}
        {{else}}
          <p class='mana-cost'>{{manaCost}}</p>
        {{/if}}
    </div>
      <div class="namebox">
        <p class='name'>{{name}}</p>
      </div>
      <div class="typebox">
        <p class='type'>{{type}}</p>
      </div>
      <div class='textbox'>
        <p class='text'>{{text}}</p>
      </div>
      <div class="footerbox">
        {{#if power}}
          <p class='pt'>{{power}}/{{toughness}}</p>
        {{/if}}
        {{#if loyalty}}
          <p class='loyality'>{{loyalty}}</p>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
<script src='/javascripts/font.js'></script>
